
Benito.Raspberry/bin/

Benito.Model.Core/bin/

Benito.Model.Core/obj/

Benito.Model/obj/

Benito.Model/bin/

Benito.Datos/bin/

Benito.Datos/obj/

Benito.Api/bin/

Benito.Api/obj/

Benito.Negocio/bin/

Benito.Negocio/obj/

Benito.Raspberry/obj/

obj/
